# javascript
javascript/**/logs
javascript/**/*.log
javascript/**/npm-debug.log*
javascript/**/node_modules/
javascript/**/package-lock.json

# python
python/**/__pycache__

# rust
target
rust/**/.gitignore
rust/**/Cargo.lock
rust/**/*.rs.bk

# Exercism metadata
.exercism
