# javascript
node_modules
/javascript/**/eslint.*
/javascript/**/.npmrc
/javascript/**/*.config.js
/javascript/**/package.json
/javascript/**/.gitignore
/javascript/.pnp.*
/javascript/.yarn/*
!/javascript/.yarn/patches
!/javascript/.yarn/plugins
!/javascript/.yarn/releases
!/javascript/.yarn/sdks
!/javascript/.yarn/versions
!/javascript/.npmrc

# typescript
/typescript/**/eslint.*
/typescript/**/*.cjs
/typescript/**/*.config.js
/typescript/**/*.json
/typescript/.pnp.*
/typescript/.yarn/*
/typescript/**/.gitignore
!/typescript/.yarn/patches
!/typescript/.yarn/plugins
!/typescript/.yarn/releases
!/typescript/.yarn/sdks
!/typescript/.yarn/versions
!/typescript/.yarn/releases/*.cjs
!/typescript/.eslintrc.json

#purescript
/purescript/bower_components/
/purescript/node_modules/
/purescript/.pulp-cache/
/purescript/output/
/purescript/generated-docs/
/purescript/.psc-package/
/purescript/.psc*
/purescript/.purs*
/purescript/.psa*
/purescript/.spago
/bower.json

# python
/python/**/__pycache__

# rust
/rust/**/target
/rust/**/.gitignore
/rust/**/*.rs.bk

# Exercism metadata
.exercism
HELP.md
GETTING_STARTED.md
HINTS.md
