name: Go tests
permissions:
  contents: read

on:
  push:
    paths:
      - 'go/**'
      - '.github/workflows/go.yml'

jobs:
  test_go:
    name: Test Go
    runs-on: ubuntu-latest
    if: |
      ! contains(github.event.head_commit.message, '[ci skip]') &&
      ! contains(github.event.head_commit.message, '[skip ci]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Set up latest Go
        uses: actions/setup-go@v6
        with:
          go-version: ^1
      - name: Run the tests
        run: |
          cd go
          ../bin/test_all.sh "*_test.go" "go test"
