name: Update project numbers
permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  update_numbers:
    name: Update project numbers
    runs-on: ubuntu-latest
    if: |
      ! contains(github.event.head_commit.message, '[ci skip]') &&
      ! contains(github.event.head_commit.message, '[skip ci]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Run the script
        run: bin/update_readme.sh
        env:
          GIT_AUTHOR_NAME: Florian Imdahl
          GIT_AUTHOR_EMAIL: ffflorian@users.noreply.github.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
