name: Python tests
permissions:
  contents: read

on:
  push:
    paths:
      - 'python/**'
      - '.github/workflows/python.yml'

jobs:
  test_python:
    name: Test Python
    runs-on: ubuntu-latest
    if: |
      ! contains(github.event.head_commit.message, '[ci skip]') &&
      ! contains(github.event.head_commit.message, '[skip ci]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Set up Python 3.x
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Run the tests
        run: |
          pip install pytest pytest-cov
          cd python
          ../bin/test_all.sh "*_test.py" "pytest *_test.py"
