name: Rust tests
permissions:
  contents: read

on:
  push:
    paths:
      - 'rust/**'
      - '.github/workflows/rust.yml'

env:
  CARGO_TERM_COLOR: always

jobs:
  test_rust:
    name: Test Rust
    runs-on: ubuntu-latest
    if: |
      ! contains(github.event.head_commit.message, '[ci skip]') &&
      ! contains(github.event.head_commit.message, '[skip ci]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Get Rust projects
        id: rust-projects
        run: |
          dirs=$(find rust -mindepth 1 -maxdepth 1 -type d)
          echo "subdirs<<EOF" >> $GITHUB_OUTPUT
          echo "$dirs" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - name: Cache Rust files
        uses: swatinem/rust-cache@v2
        with:
          workspaces: |
            ${{ steps.rust-projects.outputs.dirs }}
      - name: Run the tests
        run: |
          cd rust
          ../bin/test_all.sh "Cargo.toml" "cargo test"
