name: TypeScript tests
permissions:
  contents: read

on:
  push:
    paths:
      - 'typescript/**'
      - '.github/workflows/typescript.yml'

jobs:
  test_typescript:
    name: Test TypeScript
    runs-on: ubuntu-latest
    if: |
      ! contains(github.event.head_commit.message, '[ci skip]') &&
      ! contains(github.event.head_commit.message, '[skip ci]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: yarn
          cache-dependency-path: typescript/yarn.lock

      - name: Run the tests
        run: |
          cd typescript
          yarn --immutable
          yarn lint
          yarn test
